.post__item {
  background-size: 90%;
  margin-right: 12px;
}

@media (max-width: 768px) {
  .post__item {
    width: 100%;
    margin: 0;
    margin-bottom: 12px;
  }
}

blockquote {
  background: rgba(0, 0, 0, 0.5) !important;
  transition: all ease .4s;
}

blockquote:hover {
  background: rgba(0, 0, 0, 0.7) !important;
}