.post__item {
  margin-right: 12px;
  background-size: 90%;
}

blockquote {
  background: rgba(0, 0, 0, 0.5) !important;
  transition: all ease .4s;
}

blockquote:hover {
  background: rgba(0, 0, 0, 0.7) !important;
}