@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;700&display=swap');
@import url('./header.css');
@import url('./navbar.css');
@import url('./projects.css');
@import url('./services.css');
@import url('./offices.css');
@import url('./blog.css');
@import url('./footer.css');
@import url('./modal.css');
@import url('./filter.css');
@import url('./offers.css');

:root {
  height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #535353;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #000;
  transition: all .3s ease-in-out;
  font-size: 13px;
}

ul {
  margin-bottom: 0;
}

li {
  list-style-type: none;
}

button {
  border: none;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

section {
  padding: 100px 0 70px 0;
}

img {
  width: 100%;
}

/* Minor page styles */

.social__block, .social__block:hover {
  color: #fff;
  display: block;
  text-align: center;
  width: 40px;
  line-height: 40px;
  background-color: rgba(0,0,0,0.15);
  border-radius: 3px;
  font-size: 16px;
}

.facebook:hover {
  color: #3b589e;
}

.twitter:hover {
  color: #56d7fe;
}

.google:hover {
  color: #dc4e41;
}

.rss:hover {
  color: #e78733;
}

.linkedin:hover {
  color: #1c82ca;
}

.facebook__block:hover {
  background-color: #3b589e;
}

.twitter__block:hover {
  background-color: #56d7fe;
}

.google__block:hover {
  background-color: #dc4e41;;
}

.linkedin__block:hover {
  background-color: #1c82ca;
}

.form-select, .form-select:focus {
  border-color: transparent;
  box-shadow: none;
}

.section__heading {
  text-align: center;
  margin-bottom: 50px;
}

.section__heading h2 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.section__heading p {
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
}

.section__item {
  box-shadow: 0 0 35px rgb(0 0 0 / 10%);
  opacity: 0;
}

.section__item:hover {
  box-shadow: 0 0 15px rgb(0 0 0 / 10%);
}

/* Carousel styles */

.carousel-item {
  height: 90vh;
  position: relative;
  -webkit-transition: 0s !important;
  -o-transition: 0s !important;
  transition: 0s !important;
}

.carousel-item img {
  animation-name: scale;
  animation-duration: 10s;
  animation-fill-mode: forwards; 
}

@keyframes scale {
  from {
    transform: scale(1)
  } to {
    transform: scale(1.1)
  }
}

.dark__theme {
  background-color: rgba(49, 51, 56, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 3;
}

.slide__info {
  position: absolute;
  z-index: 3;
  top: 0;
  height: 100%;
  width: 60%;
  color: #fff;
  gap: 50px;
}

.slide__info h1 {
  font-size: 50px;
}

.slide__info span {
  color: #000;
}

.slide__info p {
  line-height: 1.6;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  animation-duration: 1.5s;
}

.carousel-control-prev, .carousel-control-next {
  background-color: rgba(0, 0, 0, 0.36);
  width: 35px;
  height: 35px;
  border-radius: 3px;
  top: calc(50% - 17.5px);
  z-index: 4;
}

.carousel-control-next {
  right: 10px;
}

.carousel-control-prev {
  left: 10px;
}

/* Subscription form */

.inner {
  border-radius: 5px;
  opacity: .8;
  background-color: #000;
  padding: 30px 15px 25px;
  color: #fff;
  margin-bottom: 30px;
}

.intro__text h3 {
  font-size: 27px;
}

.intro__text p {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.subscribe__form input {
  padding: 10px 15px;
  border-radius: 3px 0 0 3px;
  border: none;
  width: 65%;
}

.subscribe__form button {
  border: none;
  background-color: #000;
  color: #fff;
  border-radius: 0 3px 3px 0;
  border: 1px solid #232323;
  padding: 5px 10px;
  width: 35%;
}

.page__scroller, .page__scroller:hover {
  position: fixed;
  bottom: 25px;
  right: -35px;
  z-index: 300;
  box-shadow: 0 0 12px 0 rgb(0 0 0 / 20%);
  border-radius: 3px;
  color: #fff;
  background-color: #000;
  padding: 10px 11px;
  cursor: pointer;
}


/* Map */

#map {
  padding-bottom: 0;
}

#google {
  min-height: 90vh;
}

/* Fixed order button */

.order {
  position: fixed;
  right: 35px;
  bottom: 100px;
  z-index: 1000;
}

.order__btn {
  position: relative;
  z-index: 999;
}

.order__options {
  background-color: #000;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  border-radius: 3px;
  position: relative;
  padding: 0;
  margin-right: 20px;
  opacity: 0;
  transition: all ease .6s;
  z-index: 1000;
  transform-origin: 100% 50%;
}

.order__options li {
  padding: 10px 20px;
  cursor: pointer;
  transition: all ease .5s;
  position: relative;
}

.order__options li:after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 20px;
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: all ease .4s;
}

.order__options li:hover::after {
  width: 70%;
}

.order__options:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent #000;
  position: absolute;
  top: calc(50% - 5px);
  right: -10px;
}

.order__btn {
  background-color: #333;
  color: #fff;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  font-size: 20px;
  cursor: pointer;
  transition: all ease-in-out .4s;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-duration: 4.5s;
}

.order__btn i {
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-duration: 2.5s;
  animation-timing-function: ease-in;
}

.order__btn:hover {
  background-color: #333;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 4px rgba(51, 51, 51, 0.4);;
  }
  50% {
    box-shadow: 0 0 0 15px rgba(51, 51, 51, 0.4);
  }
  100% {
    box-shadow: 0 0 0 4px rgba(51, 51, 51, 0.4);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-7deg);
  }
  100% {
    transform: rotate(0deg);
  }
}