.modal__window {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1);
  transition: all ease .5s;
  transform: translateY(100%);
  z-index: 1990;
}

.modal__form {
  width: 50%;
}

.form__input {
  margin-bottom: 12px;
  padding-top: 15px;
  position: relative;
}

.form__input label {
  position: absolute;
  top: 20px;
  left: 0;
  color: #fff;
  transition: all ease .5s;
}

.form__input input, .form__input textarea {
  width: 100%;
  border: none;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  border-bottom: 1px solid #fff;
  padding: 12px 0;
  height: 42px;
}

.message {
  overflow: hidden;
  resize: none;
  min-height: 72px;
}

.modal__submit {
  margin-top: 30px;
  background: transparent;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25rem;
  position: relative;
}

.modal__submit::after {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: all ease-in-out .3s;
}

.modal__submit:hover::after {
  width: 70%;
}


.modal__close {
  position: absolute;
  top: 30px;
  right: 30px;
  border-radius: 50%;
  background-color: #fff;
  width: 40px;
  height: 40px;
  transition: all ease-in-out .3s;
}

.modal__close img {
  width: 50%;
  height: 50%;
}

.modal__close:hover {
  transform: rotate(180deg);
}