.project__list {
    margin: 0;
    list-style-type: none;
}

.project__item {
    color: #a3947d;
    margin-bottom: 25px;
}

.sticker {
    display: inline-block;
    border: 1px solid #a3947d;
    border-radius: 2em;
    padding: 6px 10px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .03em;
    white-space: nowrap;
}