.project__navigation {
    position: relative;
    max-height: 80vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.project__bg {
    position: absolute;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    transition: all ease .5s;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.project__list {
    padding: 40px 30px;
    overflow-y: auto;
}

.project__list::-webkit-scrollbar {
    width: 8px;
}

.project__list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
}

.project__list::-webkit-scrollbar-thumb {
    background: #a9a9a9;
    outline: #708090 solid 1px;
}
  
.project__navigation::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to right,#262424 10%,transparent);
}

.project__list li {
    color: #a3947d;
    margin-bottom: 25px;
    position: relative;
    z-index: 2;
    width: fit-content;
}

.project__item {
    vertical-align: middle;
    color: inherit;
    line-height: 1.2;
    font-size: 1.5625em;
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(138,125,106,.5)),to(rgba(138,125,106,.5)));
    background-size: 100% 2px;
    background-position: left 100% bottom -1px;
    background-repeat: no-repeat;
    transition: all ease .4s;
}

.project__item:hover {
    color: #a29685;
    background-size: 100% 100%;
}

.sticker {
    display: inline-block;
    border: 1px solid #a3947d;
    border-radius: 2em;
    padding: 6px 10px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .03em;
    white-space: nowrap;
    font-size: 12px;
    margin-left: 5px;
}